/*  your css code here. If applicable */
#head{
	background-color:black;
	color:white;
}
body{
	background-color:rgb(135, 206, 235);
}
#eg1{
	color:red;
}
#i1{
	background-color:white;
}
#i2{
	background-color:grey;
}
#i3{
	background-color:pink;
}
#i4{
	background-color:grey;
}
#i5{
	background-color:white;
}
